// core overrides

$border-color:                      $gray-200;

// Navbar

$navbar-height:                     50px;

$navbar-brand-width:                250px;
$navbar-brand-bg:                   theme-color("primary");
$navbar-brand-logo-size:            90px auto;
$navbar-brand-border: (
    bottom: (
        size:                       1px,
        style:                      solid,
        color:                      darken(theme-color("primary"),10%)
    )
);

$navbar-color:                      $gray-300;
$navbar-hover-color:                darken($navbar-color, 10%);
$navbar-active-color:               darken($navbar-color, 20%);
$navbar-disabled-color:             lighter($navbar-color, 20%);
$navbar-bg:                         $lowlandtech !default;

$navbar-toggler-icon:               str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-toggler-icon-hover:         str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$lowlandtech-darker}' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;

// Sidebar

$sidebar-width:                     250px;
$sidebar-bg:                        $gray-800;
$mobile-sidebar-width:              250px;

// Sidebar Navigation

$sidebar-nav-title-padding-y:       .95rem;
$sidebar-nav-title-color:           $text-muted;

$sidebar-nav-link-hover-bg:         darken($sidebar-bg, 5%);

$sidebar-nav-link-active-bg:        darken($sidebar-bg, 5%);

$sidebar-nav-dropdown-bg:           darken($sidebar-bg, 3%);

$sidebar-minimizer-indicator-color: $lowlandtech;
$sidebar-minimizer-hover-indicator-color: darken($lowlandtech, 10%);

// Breadcrumb

$breadcrumb-margin:                 0;
$breadcrumb-borders:                0;

// Aside

$aside-menu-bg:                     $lowlandtech-dark !default;
$aside-menu-width:                  400px;

// Footer

$footer-color:                      $lowlandtech-dark;
